
/*nav bar*/
#nav-bar {
	background: rgba(244,244,244,0.5);
	position: fixed;
	width: 100%;
	text-align: left;
	display: flex;
	justify-content: flex-end;
}

/*header*/
img {
	width: 100%;
}
header{
	padding: 20px 0px;
	margin-top: 0px;
}
header.row {
	display: flex;
	align-items: center;
}
header p {
  padding: 0 20px;
  margin: 0;

}
.jumbotron {
	display: block;
	text-align: center;
	background-image: url("http://www.color-hex.com/palettes/5803.png");
	background-size: cover;
	color: #FFF;
	height: 500px;
	text-shadow: 0.25px 0.25px 0.25px #000000;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}
.jumbotron h2 {
  font-size: 60px;
  margin: 0;
  color: #fff;
}
.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
  font-weight: 400;
}

/*#describe {
	margin-top: 50px;
}*/

/*body */
.row {
	display:;
}

body {
	font-family: "Open-Sans", sans-serif;
	font-weight: 300;
	}
p {
	text-align: center;
}

	/*About*/
	#about {
		margin-top: 700px;
		text-align: center;
	}

	/*Work*/
	#work {

	}
	#work.img {
		display: inline;
		width: 200px;
		height: 200px;
	}	

	/*Contact*/

/*footer*/


